@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  }